# =========================================
# .FILE
#   .env.example
#
# .SYNOPSIS
#   key(s) skeleton
#
# .NOTES
#   Version       : 1.0
#   Author        : @ZouariOmar (zouariomar20@gmail.com)
#   Created       : 2026-04-20
#   Change Log    : intial
#
# shellcheck disable=SC2034
# =========================================

FREEIMAGE_API_KEY=your_freeimage_api_key_here
BASE_URL=http://127.0.0.1:8000
DEVICE=cpu
DEFAULT_STRENGTH=0.55
DEFAULT_GUIDANCE_SCALE=5.0
DEFAULT_NUM_INFERENCE_STEPS=4
MIN_INFERENCE_STEPS=1
MAX_INFERENCE_STEPS=30
