# =========================================
# .FILE
#   .env.example
#
# .SYNOPSIS
#   key(s) skeleton
#
# .NOTES
#   Version       : 1.0
#   Author        : @ZouariOmar (zouariomar20@gmail.com)
#   Created       : 2026-04-20
#   Change Log    : intial
#
# shellcheck disable=SC2034
# =========================================

# Global
BASE_URL=http://127.0.0.1:8000
DEVICE=cpu
MODEL_PATH=models/anything-v5.safetensors

# Free image
FREEIMAGE_UPLOAD_URL=freeimage_api_url
FREEIMAGE_API_KEY=freeimage_api_key

# Hugging face
# Optional custom endpoint, defaults to https://api-inference.huggingface.co/models/{HF_MODEL_ID}
HF_MODEL_ID=stabilityai/stable-diffusion-2-1
HF_API_URL="https://api-inference.huggingface.co/models/genai-archive/anything-v5"
HF_API_TOKEN=hf_api_token
HF_TIMEOUT=120
HF_WAIT_FOR_MODEL=true
DEFAULT_STRENGTH=0.55
DEFAULT_GUIDANCE_SCALE=5.0
DEFAULT_NUM_INFERENCE_STEPS=4
MIN_INFERENCE_STEPS=1
MAX_INFERENCE_STEPS=30
